body{
	background-color: #010101;
	color: #eee;
	font-family: iransans;
}

h2{
	text-align: right;
  padding: 2em 2.5em 1em 0;
  color: #f6d001;
}

li p , li span{
	display: inline-block;
}

.top-box p::before {
	content: url('itemsicon.png');
	display: inline-block;
	width: 50px;float: right;
}

.top-box p{
	line-height: 50px;
	margin-bottom: 0;
}

button{
	background-color: #f6d001;
	padding: 1em!important;
	display: block!important;
	margin: 0 auto;
	float: initial!important;
	color: #000;
}

 .hr{
 	height: 5px;background: #f6d001;
 }

.man img{
	float: right;
}

.bottom-box{
	padding-top: 3em;
	background-image: url('texture.png');
	z-index: 222;
}

.bottom-box .row div{
 	margin:2em 0;
}

.bottom-box p{
	padding: 1em 0;
}
